<div class="main-footer-container">
  <div class="faq-area">
    <section>
      <div class="faq-heading-area">
        <div class="ca ca-1">
          <h1 class="faq-heading">FAQ</h1>
        </div>
      </div>

      <div class="faq-content-area">
        <div class="ca ca-1">
          <div class="faq-question-container" ng-repeat="faqItem in faq">
            <section>
              <h1 class="faq-question-heading" ng-bind="faqItem.question"></h1>

              <div class="faq-answer-container">
                <p ng-bind="faqItem.answer"></p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="footer-area">
    <div class="ca ca-1">
      <p>Created by <a href="http://lukaszgrolik.pl" class="footer-author-homepage-link">Łukasz Grolik</a></p>
    </div>
  </div>
</div>