<div class="repos-charts-area-container">
  <div class="charts-area" ng-if="reposStore.repos.length">
      <div class="ca ca-1">
        <div class="chart-container-list" >

          <div
          class="chart-container"
          ng-repeat="stat in statsConfig"
          >
            <h3
            class="charts-area-heading"
            ng-style="{'background-color': stat.color}"
            >
              <span
              class="fa"
              ng-class="{
                'fa-eye': stat.name=='watchers',
                'fa-star': stat.name=='stars',
                'fa-code-fork': stat.name=='forks',
                'fa-exclamation-circle': stat.name=='openIssues'
              }"
              ></span>
              <span ng-bind="stat.label"></span>
            </h3>

            <div class="chart-content">
              <canvas barchart
              data="chartsStore[stat.name]"
              width="500"
              height="300"
              ></canvas>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>