<div class="repos-table-area-container">
  <div ng-if="!reposStore.repos.length" class="no-table-area">
    <div class="ca ca-1">
      <p>Enter and load repositories to see statistics.</p>
    </div>
  </div>

  <div ng-if="reposStore.repos.length">
    <div class="table-area">
      <div class="ca ca-1">
        <table class="table-1" ts-wrapper>
          <thead>
            <tr>
              <th ts-criteria="name">Repo</th>
              <!-- <th ts-criteria="name">Repo: <input ng-model="repoFilter.name" type="text"></th> -->
              <th ts-criteria="createdAt">Create date</th>
              <th ts-criteria="updatedAt">Last update</th>
              <th ts-criteria="pushedAt">Last push</th>
              <th ts-criteria="watchersCount|parseInt">Watchers</th>
              <th ts-criteria="starsCount|parseInt" ts-default="descending">Stars</th>
              <th ts-criteria="forksCount|parseInt">Forks</th>
              <th ts-criteria="openIssuesCount|parseInt">Open issues</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="repo in reposStore.repos | filter:repoFilter | orderBy:repoSortField:repoSortOrder" ts-repeat>
              <td>
                <a ng-href="{{obtainLink(repo.homepage)}}" class="link-1" ng-bind="repo.name"></a>
              </td>
              <td class="format-date" ng-bind="repo.createdAt"></td>
              <td class="format-date" ng-bind="repo.updatedAt"></td>
              <td class="format-date" ng-bind="repo.pushedAt"></td>
              <td class="format-number" ng-bind="repo.watchersCount"></td>
              <td class="format-number" ng-bind="repo.starsCount"></td>
              <td class="format-number" ng-bind="repo.forksCount"></td>
              <td class="format-number" ng-bind="repo.openIssuesCount"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>